<div class="user-info-container">
    <div class="left">
      <div class="name">
        {{user.firstName}} {{user.lastName}}
      </div>
      <div class="details">
          <div class="score">
            {{user.score}} <span class="score-icon small"></span>
          </div>
          <div class="level">
            Level: <span class="level-name">{{user.level.name}}</span>
          </div>
      </div>
    </div>
    <div class="right">
      {{#link-to 'app.settings.user-management.edit' user class="avatar" tagName="div"}}
        {{#gravatar-image email=user.email}}{{/gravatar-image}}
      {{/link-to}}
      <div class="signout">
        {{#link-to 'signout' class="mdl-navigation__link"}}
          {{mdl-icon icon="exit_to_app"}}
        {{/link-to}}
      </div>
    </div>
</div>
